<!DOCTYPE html>
<app-modify-content (contentAdded)="addContentToList($event)"></app-modify-content><br><br>
<div>
  <mat-form-field> <input matInput [(ngModel)]="searchTerm" placeholder="Enter title"></mat-form-field>
  <button mat-raised-button color="primary" (click)="search()">Search</button>
  <div *ngIf="message">
    <p [ngStyle]="{ color: messageColor }">{{ message }}</p>
  </div>
</div>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Best">
    <h3>Best</h3>
    <mat-card  [ngClass]="(item.type)" class="contentCard" *ngFor="let item of contentList | contentFilter:'Best'; index as i; first as First" [class.is-first]="First">
      <mat-card-header class="contentTitle">
        <mat-card-title-group>
          <mat-card-title class="Title">{{ item.title }}</mat-card-title>
          <mat-card-subtitle class="Type" *ngIf="item.type" HoverAffect affect="underline">{{ item.type }}</mat-card-subtitle>
          <img mat-card-md-image  *ngIf="item.imgURL" src="{{ item.imgURL }}" alt="" >
          <img mat-card-md-image  *ngIf="!item.imgURL" src="https://png.pngtree.com/png-clipart/20200720/original/pngtree-red-black-retro-polygon-football-club-logo-png-image_4372780.jpg"  alt="" >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <p class="contentMembers">{{ item.creator }}</p>
       
        <ul *ngIf="item.tags">
          <li class="contentTags" *ngFor="let tag of item.tags" HoverAffect affect="bold">
            {{ tag }}
          </li>
        </ul>
        <mat-card-subtitle class="contentDetails"><a [routerLink]="['/content',item.id]" routerLinkActive="active">
          Content Details =>
        </a></mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Second">
    <h3>Second</h3>
    <mat-card  [ngClass]="(item.type)" class="contentCard" *ngFor="let item of contentList | contentFilter: 'Second'; index as i; first as First" [class.is-first]="First">
      <mat-card-header class="contentTitle">
        <mat-card-title-group>
          <mat-card-title class="Title">{{ item.title }}</mat-card-title>
          <mat-card-subtitle class="Type" *ngIf="item.type" HoverAffect affect="underline">{{ item.type }}</mat-card-subtitle>
          <img mat-card-md-image  *ngIf="item.imgURL" src="{{ item.imgURL }}" alt=""   >
          <img mat-card-md-image  *ngIf="!item.imgURL" src="https://png.pngtree.com/png-clipart/20200720/original/pngtree-red-black-retro-polygon-football-club-logo-png-image_4372780.jpg"  alt=""  >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <p class="contentMembers">{{ item.creator }}</p>
        <ul *ngIf="item.tags">
          <li class="contentTags" *ngFor="let tag of item.tags" HoverAffect affect="bold">
            {{ tag }}
          </li>
        </ul>
        <mat-card-subtitle class="contentDetails"><a [routerLink]="['/content',item.id]" routerLinkActive="active">
          Content Details =>
        </a></mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Third">
    <h3>Third</h3>
    <mat-card  [ngClass]="(item.type)" class="contentCard" *ngFor="let item of contentList | contentFilter: 'Third'; index as i; first as First" [class.is-first]="First">
      <mat-card-header class="contentTitle">
        <mat-card-title-group>
          <mat-card-title class="Title">{{ item.title }}</mat-card-title>
          <mat-card-subtitle class="Type" *ngIf="item.type" HoverAffect affect="underline">{{ item.type }}</mat-card-subtitle>
          <img mat-card-md-image  *ngIf="item.imgURL" src="{{ item.imgURL }}" alt=""  >
          <img mat-card-md-image  *ngIf="!item.imgURL" src="https://png.pngtree.com/png-clipart/20200720/original/pngtree-red-black-retro-polygon-football-club-logo-png-image_4372780.jpg"  alt=""  >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <p class="contentMembers">{{ item.creator }}</p>
        <ul *ngIf="item.tags">
          <li class="contentTags" *ngFor="let tag of item.tags" HoverAffect affect="bold">
            {{ tag }}
          </li>
        </ul>
        <mat-card-subtitle class="contentDetails"><a [routerLink]="['/content',item.id]" routerLinkActive="active">
          Content Details =>
        </a></mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
