<!DOCTYPE html>
<br>
<button mat-stroked-button color="accent"><a routerLink="/list" routerLinkActive="active">Back to Content List</a></button><br>
<mat-card class="card">
    <div *ngIf="contentItem" class="container" >
      <mat-card-header>
        <mat-card-title><h2>{{ contentItem.title }}</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ contentItem.description }}</p>
        <img mat-card-md-image  *ngIf="contentItem.imgURL" src="{{ contentItem.imgURL }}" alt="" ><br>
        <img mat-card-md-image  *ngIf="!contentItem.imgURL" src="https://png.pngtree.com/png-clipart/20200720/original/pngtree-red-black-retro-polygon-football-club-logo-png-image_4372780.jpg"  alt="" ><br>
        By:<em> {{ contentItem.creator }}</em>
        <p appHoverAffect highlightType="type" >Type: {{ contentItem.type }}</p>
      </mat-card-content>
  
    </div>
  </mat-card>
